.container .posts{
    width: 200px;
}

#posts {
    width: 50%;
    margin-bottom: 50px;
}

#left, #right {
    width: 10%;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.post-header {
    align-items: center;
    height: 60px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post-header ~ p {
    font-family: "Nimbus Mono L", monospace;
}

.date {
    text-align: right;
}

.post-header img {
    height: 100%;
    margin-left: 25px;
    width: auto;
}

.post-footer {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 20px;
    width: auto;
}

.post-footer img {
    height: 30px;
    width: 30px;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.post-likes {
    margin-top: 10px;
}

.like-reset {
    display: flex;
    justify-content: center;
    padding: 20px;
}

@media screen and (max-width: 1000px) {
    .post-header {
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #posts {
        width: 75%;
    }
}

/*Homework 2*/
.dropdown{
    position: relative;
    display: block;
}

.dd-content{
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 10px 15px 0px blue;
    text-align: left;
}

.show {display:block;}

.dd-user > li  {
    display: block;
    cursor: default;
}

.dd-user > li:hover{
    background-color: white;
}