body {
    background-color: whitesmoke;
    margin: 0;
    font-family: "Andale Mono", monospace;
}

header {
    padding: 20px 0;
    background-color: #005fff;
}

.menu > ul {
    display: flex;
    align-items: center;
    height: 55px;
    gap: 20px;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

li {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

li:hover {
    background-color: #2072ff;
}

#profile-pic {
    position: absolute;
    right: 30px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
}

li img {
    height: 50px;
}

.container {
    display: flex;
    justify-content:space-between;
}

.content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.content > p {
    padding: 20px 30px;
    margin: 0;
    line-height: 1.5;
}

.content {
    border-radius: 20px;
    background-color: white;
    margin-top: 50px;
}

footer {
    height: 25px;
    padding: 20px 0;
    background-color: #005fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
}