body {
    background-color: whitesmoke;
    margin: 0;
}

header {
    padding: 20px 0;
    background-color: #005fff;
}

.menu > ul {
    display: flex;
    align-items: center;
    height: 55px;
    gap: 20px;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

li {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}

li:hover {
    background-color: #2072ff;
}

#profile-pic {
    position: absolute;
    right: 30px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
}

li img {
    height: 50px;
}

.container {
    display: flex;
    justify-content:space-between;
}

.container .posts{
    width: 200px;
}

#posts {
    width: 50%;
    margin-bottom: 50px;
}

.post {
    border-radius: 20px;
    background-color: white;
    margin-top: 50px;
}

#left, #right {
    width: 10%;
}

.post img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.post > p {
    padding: 20px 30px;
    margin: 0;
    line-height: 1.5;
}

.post-header {
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post-header .date {
    margin-right: 30px;
}

.post-header img {
    height: 100%;
    margin-left: 25px;
    width: auto;
}

.post-footer {
    display: inline-block;
    height: 40px;
    width: 100%;
}

.post-footer img {
    height: 75%;
    width: auto;
    margin-left: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
    .post-header {
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #posts {
        width: 75%;
    }
}

footer {
    height: 50px;
    padding: 20px 0;
    background-color: #005fff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: capitalize;
}